DB_HOST=db
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_NAME_DEVELOPMENT=app_development
DB_NAME_TEST=app_test
DB_NAME_PRODUCTION=app_production
DB_NAME_PRODUCTION_CACHE=app_production_cache
DB_NAME_PRODUCTION_QUEUE=app_production_queue
DB_NAME_PRODUCTION_CABLE=app_production_cable
MYSQL_ROOT_PASSWORD=password
APP_DATABASE_PASSWORD=password
